// =============================================================================
// Grid
// =============================================================================

.container {
  max-width: $container-width;
  margin: 0 auto;
  @include clearfix();
}
.row {
  @include clearfix();
}

.column {
  float: left;
  padding-left: $column-gutter;
  padding-right: $column-gutter;
  min-height: 1px;
  @media(max-width: $breakpoint) {
    padding-left: $column-gutter*2;
    padding-right: $column-gutter*2;
  }
}

.column-1 {
  width: 8.33333%;
}
.column-2 {
  width: 16.66667%;
}
.column-3 {
  width: 25%;
}
.column-4 {
  width: 33.33333%;
}
.column-5 {
  width: 41.66667%;
}
.column-6 {
  width: 50%;
}
.column-7 {
  width: 58.33333%;
}
.column-8 {
  width: 66.66667%;
}
.column-9 {
  width: 75%;
}
.column-10 {
  width: 83.33333%;
}
.column-11 {
  width: 100%;
}
.column-12 {
  width: 100%;
}
@media (max-width: $breakpoint) {
  .column-1,
  .column-2,
  .column-3,
  .column-4,
  .column-5,
  .column-6,
  .column-7,
  .column-8,
  .column-9,
  .column-10,
  .column-11,
  .column-12 {
    width: 100%;
  }
}

.column-offset-0 {
  margin-left: 0;
}
.column-offset-1 {
  margin-left: 8.33333%;
}
.column-offset-2 {
  margin-left: 16.66667%;
}
.column-offset-3 {
  margin-left: 25%;
}
.column-offset-4 {
  margin-left: 33.33333%;
}
.column-offset-5 {
  margin-left: 41.66667%;
}
.column-offset-6 {
  margin-left: 50%;
}
.column-offset-7 {
  margin-left: 58.33333%;
}
.column-offset-8 {
  margin-left: 66.66667%;
}
.column-offset-9 {
  margin-left: 75%;
}
.column-offset-10 {
  margin-left: 83.33333%;
}
.column-offset-11 {
  margin-left: 91.66666667%;
}
.column-offset-12 {
  margin-left: 100%;
}
@media (max-width: $breakpoint) {
  .column-offset-0,
  .column-offset-1,
  .column-offset-2,
  .column-offset-3,
  .column-offset-4,
  .column-offset-5,
  .column-offset-6,
  .column-offset-7,
  .column-offset-8,
  .column-offset-9,
  .column-offset-10,
  .column-offset-11,
  .column-offset-12 {
    margin-left: 0;
  }
}